---
import data from "../../data.json";
import "@fontsource/outfit";
import "../styles/global.css";

const { appTitle } = data;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/images/favicon-32x32.png"
        />
        <meta name="generator" content={Astro.generator} />
        <title>{appTitle}</title>
    </head>
    <body class="bg-[#D6E2F0] h-screen flex justify-center items-center p-8">
        <slot />
    </body>
</html>
